@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.blog-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.blog-header h1, .blog-header h1 a, .blog-header h1 a:visited, .blog-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

body, table, div, p {
    font-family: 'Noto Sans KR', serif;
}

.content {
    margin-left: 40px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}
